html, body {
    width: 100%;
    height: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
}

.header {
    background: linear-gradient(180deg, rgba(7, 7, 7, 0.5) 0%, rgba(180, 176, 176, 0.15) 100%),
    url(Wish.jpg);
    background-size: cover;
    background-position: center;
    height: 100%; 
}

hr {
    border-color: tomato;
    border-width: 3px;
    max-width: 65px;
}

.faded {
    margin-bottom: 30vh;
    color: whitesmoke;
}

.btn-xl {
    padding: 1em 1.5em;
    border-radius: 2em;
    overflow: hidden;
}